
.navMobile{
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.navMobile ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    list-style: none;
    text-align: center;
}
.navMobile ul li{
    width: 20%;
    height: 100%;
    padding: 15px;
}
.navMobile ul li a{
    color: var(--white);
}
.addVideo{
    background-color: var(--white);
    padding: 6px 12px;
    border-radius: 5px;
    box-shadow: 5px 0px var(--redTK), -4px 0px var(--blueTK);
    color: #000000!important;
}

.mainMobile{
    position: relative;
    width: 100vw;
    height: calc(100vh - 50px);
    margin-bottom: 50px;
    /* overflow: hidden; */
    background-color: #000000;
    box-sizing: border-box;
}

video {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    object-fit: fill;
    z-index: 1;
  }
  

.mobileHeader{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 80px;
    z-index: 100;
    color: aliceblue;
    gap: 20px;
    font-weight: 700;
}
.following{
    opacity: .5;
}
.forYou{
    opacity: 1;
}

.mobileMain{
    min-height: 0;
    position: absolute;
    width: 100%;
    height: 65%;
    left: 0;
    bottom: 2%;
    z-index: 100;
    color: aliceblue;
    font-weight: 700;
    justify-content: flex-end !important;
}

.mobileInfoUser{
    width: 100%;
    height: 30%;
    padding: 0 10px;
}
.containerMobileInfoUser{
    flex: 1;
}
.containerMobileInfoUser .usernameContainer .userLink{
    color: var(--white) !important;
}
.containerMobileInfoUser .description span{
    font-weight: 400 !important;
}
.containerMobileInfoUser .description a{
    color: var(--white) !important;
}

.containerMobileInfoUser .soundTrack a{
    color: var(--white) !important;
}
.containerMobileInfoUser .soundTrack .music{
    width: 100%;
    justify-content: flex-start;
}
.containerMobileInfoUser .soundTrack .music i{
    width: 30px;
}
.containerMobileInfoUser .soundTrack .music marquee{
    flex: 1;
    min-width: 0;
}
.containerRecord{
    width: 72px;
    height: 100%;
    align-items: flex-end !important;
}

.disk{
    width: 46px;
    height: 46px;
}

.disk img{
    animation: rotateVinil infinite 5s linear;
}

@keyframes rotateVinil {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.mobileLikes{
    flex-direction: column !important;
    justify-content: flex-end !important;
    width: 20%;
    height: 70%;
}

.mobileAvatar{
    width: 46px;
    height: 76px;

}
.mobileAvatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    margin: auto;
}

.mobileBtns{
    height: fit-content;
    gap: 15px;
}

.mobileBtns button{
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: none;
    height: 49px;
    color: var(--white);
}

.mobileBtns button i{
    font-size: 2.5rem;
    flex: 1;
}
.mobileInstall{
    background-color: #1944a0;
    width: 100%;
    height: 15%;
    opacity: 0.3;
}
@media (min-width: 500px) {
    .navMobile {
      display: none;
    }
    .mainMobile{
        display: none;
    }
    .navWebContainer{
        display: flex;
    }
    .mainWeb{
        display: flex;
    }
    header{
        border-bottom: 1px solid var(--grisBg);
        background-color: var(--white);
        height: 60px;
        margin: auto;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
    }
}
  