
.navMobile{
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.navMobile ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    list-style: none;
    text-align: center;
}
.navMobile ul li{
    width: 20%;
    height: 100%;
    padding: 15px;
}
.navMobile ul li a{
    color: var(--white);
}
.addVideo{
    background-color: var(--white);
    padding: 6px 12px;
    border-radius: 5px;
    box-shadow: 5px 0px var(--redTK), -4px 0px var(--blueTK);
    color: #000000!important;
}

.mobileMain{
    background-color: var(--grisBg);
    height: calc(100vh - 50px);
    margin-bottom: 50px;
}

.mobileHeader{
    background-color: #1944a0;
    width: 100%;
    height: calc(15% - 15px);
    opacity: 0.3;
    margin-bottom: 15px;
}
.mobileLikesContainer{
    background-color: #1944a0;
    width: 100%;
    height: calc(50% - 15px);
    opacity: 0.3;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}
.likes{
    background-color: #1255e7;
    width: 20%;
    height: 100%;
}
.mobileInfoUser{
    background-color: #1944a0;
    width: 100%;
    height: calc(20% - 15px);
    opacity: 0.3;
    margin-bottom: 15px;
}
.mobileInstall{
    background-color: #1944a0;
    width: 100%;
    height: 15%;
    opacity: 0.3;
}
@media (min-width: 500px) {
    .navMobile {
      display: none;
    }
    .mainMobile{
        display: none;
    }
    .navWebContainer{
        display: flex;
    }
    .mainWeb{
        display: flex;
    }
    header{
        border-bottom: 1px solid var(--grisBg);
        background-color: var(--white);
        height: 60px;
        margin: auto;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
    }
}
  